
.boton-primario {
    // --background: #f09419;
    color: white;
    border: solid;
    border-width: 2px;
    border-color: #83e6ec;
    padding: 5px 13px 5px 13px;
    border-radius: 5px;
    background: #870f6a;
    text-transform: none;
    font-weight: bold;
    margin-top: 0 ;
    height: 45px;
  }

  .full-width {
    width: 92%;
    margin-left: 4%;
    
}
    
.item-native{
    margin: 0;
    width: 100%;
}

.password{
    margin-bottom: 0 !important;
}

.grid{
    margin: 0 !important;

}





 