<!-- Contenedor para escalar y centrar el “lienzo” -->
<div class="wrap" [style.transform]="'scale(' + scale + ')'" style="transform-origin: top center;">
  <div class="etiqueta" [ngStyle]="etiquetaStyle">
    <!-- Cabecera con nombre/descripcion a la izquierda y precio a la derecha -->
    <div class="top">
      <div class="izq">
        <div class="nombre" [class.muted]="!producto.nombre">
          {{ producto.nombre || 'Nombre del producto' }}
        </div>
        <div class="descripcion" [class.muted]="!producto.descripcion">
          {{ producto.descripcion || 'Descripción del producto' }}
        </div>
      </div>

      @if (precioTexto) {        
        <div class="der">
          <div class="precio">{{ precioTexto }}</div>
        </div>
      }
    </div>

    <!-- Código de barras centrado abajo -->
     @if (showBar) {       
       <div class="code-area">
         <ngx-barcode6
           [bc-format]="bcFormat"
           [bc-value]="barcodeValue"
           [bc-display-value]="true"
           [bc-height]="bcHeightPx"
           [bc-width]="bcBarWidth"
           [bc-font-size]="bcFontPx"
           [bc-text-margin]="bcTextMargin">
         </ngx-barcode6>
       </div>
     }

    <!-- QR (si algún día lo usas) -->
    <div class="qr-area" *ngIf="showQR">
      <div class="qr-placeholder">QR: {{ barcodeValue || '...' }}</div>
    </div>
  </div>
</div>
